extends ../layout/layout
block vars
  - var title= 'Account'

block content
  h1 My account

  h4 First name
  p= user.firstName

  h4 Last name
  p= user.lastName

  h4 From city
  p= user.city

  h4 Created at
  p= user.created

  if currentUser.id === user.id
    a(href='/users/#{user.id}/edit').btn.btn-primary Edit account
    .pad
    a(href='', onclick="$('<form method=POST action=/users/#{currentUser.id}/destroy>').submit();return false").btn.btn-danger Delete account
