extends ../layout/layout
block vars
  - var title= 'Article'

block content
  h1 Article

  h4 Title
  p= article.title

  h4 Body
  p= article.body

  h4 Created at
  p= article.created

  h4 Author
  a(href="/users/#{article.user.id}") #{article.user.firstName} #{article.user.lastName}

  h4 Average mark
  p= averageMark

  if currentUser.id != article.user.id
    h4 Rating
    input(type="hidden", class="rating", id="input-rating", value="#{markValue}", min=1, max=5, step=0.5, data-size="xs")
  else if currentUser.id == article.user.id
    a(href='/articles/#{article.id}/edit').btn.btn-primary Edit article
    .pad
    a(href='', onclick="$('<form method=POST action=/articles/#{article.id}/destroy>').submit();return false").btn.btn-danger Delete article

  script.
    $('#input-rating').on('rating.change', function (event, value) {
      $.ajax({
        url: "/articles/#{article.id}/mark",
        method: "POST",
        data: { rating: value },
        statusCode: {
          200: function () {
            window.location.href = "/articles/#{article.id}";
          }
        }
      });
      return false;
    });

    $('#input-rating').on('rating.clear', function (event, value, caption) {
      $.ajax({
        url: "/articles/#{article.id}/mark/destroy",
        method: "POST",
        statusCode: {
          200: function () {
            window.location.href = "/articles/#{article.id}";
          }
        }
      });
      return false;
    });