h4#comments-length Comments(#{comments.length})
.row
  form.form-horizontal.comment-form(name="comment-form")
    .col-lg-8
      input(name="message", type="text", placeholder="Write a message").form-control#input-message

    button(type="submit", data-loading-text="Creating...").btn.btn-primary Go
    span.help-block.error

.col-lg-8
  table.table.table-condensed.table-striped
    tbody
      each comment in comments
        tr
          td
            ul.list-inline
              li= comment.user.username
              li= comment.message

script.
  $(document.forms['comment-form']).on('submit', function () {
    var form = $(this);
    $('.error', form).html('');
    $(":submit", form).button("loading");
    $.ajax({
      url: "/articles/#{article.id}/comment",
      method: "POST",
      data: form.serialize(),
      complete: function () {
        $(":submit", form).button("reset");
      },
      statusCode: {
        200: function () {
          form.html("Comment created successfully").addClass('alert-success');
          window.location.href = "/articles/#{article.id}";
        },
        403: function (jqXHR) {
          var error = JSON.parse(jqXHR.responseText);
          $('.error', form).html(error.message);
        }
      }
    });
    return false;
  });

  $("#comments-length").click(function () {
    window.location.href = "/articles/#{article.id}";
  });

  var socket = io();
  socket.on('connect', function () {
    socket.emit('room', '#{article.id}');
  });
  socket.on('create comment', function (data) {
    $('#comments-length').text('Comments(' + data + ')')
  });
